.homepage-menu-button-1,
.homepage-menu-button-2,
.homepage-menu-button-3,
.homepage-menu-button-4 {
    position: fixed;
    background-color: #BB86FC;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    height: 6svh;
    width: 60svw;
    transition: transform 2s ease-out;
}

.homepage-menu-button-1:active,
.homepage-menu-button-2:active,
.homepage-menu-button-3:active,
.homepage-menu-button-4:active {
    background-color: #C51162;
}

.homepage-menu-button-1 { top: 24%;}
.homepage-menu-button-2 { top: 34%;}
.homepage-menu-button-3 { top: 44%;}
.homepage-menu-button-4 { top: 54%;}

.homepage-hide-menu-button-1,
.homepage-hide-menu-button-2,
.homepage-hide-menu-button-3,
.homepage-hide-menu-button-4 {
    transform: translate(-50%, -100svh);
}