.homepage-top-window,
.homepage-bottom-window {
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    border: 2px solid #BB86FC;
}

/* Top window */
.homepage-top-window {
    top: 0;
    height: 96svh;
    width: 100svw;
    border-bottom: none;
    transition: transform 2s ease-out, opacity 2s ease-out;
    clip-path: circle(100% at 50% 0%);
}

.homepage-activate-top-window {
    opacity: 1;
    transform: translateY(-100%);
}

/* Bottom window */
.homepage-bottom-window {
    bottom: 0;
    height: 100svh;
    width: 100svw;
    border-top: none;
    border-bottom: none;
    /* transition: transform 2s ease-out, opacity 2s ease-out; */
    clip-path: circle(100% at 50% 154%);
}

/*
.homepage-activate-bottom-window {
    opacity: 1;
    transform: translateY(45%);
}
*/