
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.homepage-planet-earth,
.homepage-blackhole,
.homepage-background {
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

.homepage-background {
    background-image: url('../../assets/production_resources/SPACE_BACK.webp');
    background-size: cover;
}

.homepage-blackhole {
    background-image: url('../../assets/production_resources/BLACK_HOLE.webp');
    background-size: contain;
    margin-left: 5dvw;
    margin-right: 5dvw;
    animation: rotateBlackHole 600s linear infinite;
}

.homepage-planet-earth {
    background-image: url('../../assets/production_resources/PLANET_EARTH.webp');
    background-size: contain;
    margin-left: 38dvw;
    margin-right: 38dvw;
    animation: rotatePlanetEarth 60s linear infinite;
}

@keyframes rotateBlackHole {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotatePlanetEarth {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes activeTwinkle {
    0%, 25%, 50% { opacity: 1; }
    0%, 50%, 100% { opacity: 0; }
}
